.fileUpload {
  margin-top: 30vh;
  padding-top: 20px;
  /* border: 1px solid darkgrey !important;
  border-radius: 10%;
  color: black !important;
  width: 50px;
  height: 100px; */
}

.fileUpload:focus {
  outline: none !important;
}

.displayNone {
  display: none;
}
/* In order to place the tracking correctly */

canvas.drawing,
canvas.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
}
