.fileUpload {
  margin-top: 30vh;
  padding-top: 20px;
  /* border: 1px solid darkgrey !important;
  border-radius: 10%;
  color: black !important;
  width: 50px;
  height: 100px; */
}

.fileUpload:focus {
  outline: none !important;
}

.displayNone {
  display: none;
}
.sidebar .widget {
  background: #ffffff;
  padding: 21px 30px;
  margin-bottom: 35px;
  width: 100%;
}

.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}

.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: lightblue;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.input-group {
  margin-bottom: 5px;
}

span.heading {
  margin-bottom: 10px;
}

main {
  text-align: center;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 21px;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-items-center {
  justify-content: center;
  align-items: center;
}

.intro img {
  width: 100%;
}
.controls input {
  margin-bottom: 5px;
}
