Button > svg {
  width: 25px;
  vertical-align: middle;
  margin-right: 8px;
  opacity: 0.7;
  fill: #2f3042;
  transition: opacity, 0.3s, ease-in-out;
}

.btn-buttonUpload {
  margin-top: 30vh;
  border: 2px dashed rgba(128, 128, 128, 0.4) !important;
  color: #555 !important;
  background-color: #dddddd;
  width: 230px;
  height: 150px;
  transition: background-color, 0.3s, ease-in-out;
}

.btn-buttonUpload:focus {
  outline: none !important;
}
